<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Manager</title>
    <link rel="stylesheet" href="/static/src/css/styles.css">
</head>
<body>
    <div id="chromecast-form">
        <h2>Add Chromecast</h2>
        <form id="add-chromecast-form">
            <input type="text" id="chromecast_code" placeholder="Chromecast Code" required>
            <input type="text" id="chromecast_ip" placeholder="Chromecast Mac Address" required>
            <button type="submit">Add Chromecast</button>
        </form>
    </div>
    <div id="chromecast-list">
        <h2>Chromecasts</h2>
        <ul id="chromecasts"></ul>
    </div>
    <script src="/static/src/js/script.js"></script>
</body>
</html> 